
.repo-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}


.repo-name {
  font-weight: bold;
  color: #2d72d9;
  text-decoration: none;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  word-break: break-word;
}

.repo-name:hover {
  text-decoration: underline;
}


.repo-description {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #555;
  flex-grow: 1;
}

.repo-stars {
  font-size: 0.85rem;
  color: #888;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: auto;
}

.app-container.dark .repo-card {
  background-color: #1f1f1f;
  border-color: #444;
}

.app-container.dark .repo-name {
  color: #90caf9;
}

.app-container.dark .repo-description {
  color: #ccc;
}

.app-container.dark .repo-stars {
  color: #aaa;
}


@media (max-width: 500px) {
  .repo-card {
    padding: 0.8rem;
  }

  .repo-name {
    font-size: 1rem;
  }

  .repo-description {
    font-size: 0.85rem;
  }

  .repo-stars {
    font-size: 0.75rem;
  }
}
